<html>
    <head>
        <title>SCAN Admin View</title>
    </head>
    <body>
        <p id="authname" style="vertical-align: top; float: right"><b>Logged in as:</b> <a href="{{url_for("bakesale.edit_profile")}}">{{session["name"]}}</a></p>
        <h1>SCAN Admin View</h1>
        <table border="1">
            <caption><b>Uncollected Orders</b></caption>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Date Delivered</th>
                <th>Time Delivered</th>
                <th>Name</th>
                <th>Deliverer</th>
                <th>Amount</th>
                <th>Link</th>
            </tr>

            {% for order in delivered %}
                <tr>
                    <td class="date">{{order.UTC_timestamp}}</td>
                    <td class="time">{{order.UTC_timestamp}}</td>
                    <td class="date">{{order.delivery.UTC_timestamp}}</td>
                    <td class="time">{{order.delivery.UTC_timestamp}}</td>
                    <td>{{order.userInfo.name}}</td>
                    <td><a href="{{url_for("bakesale.view_profile", uid=order.delivery.deliveredBy.uid)}}">{{order.delivery.deliveredBy.name}}</a></td>
                    <td>${{'%0.2f' % order.price}}</td>
                    <td><a href={{url_for("bakesale.show_order", orderID=order.orderID, view="admin")}}>Click Me</a></td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <h3>Statistics</h3>
        <p>work in progress</p>
        <br>
        <h3>Order Issues</h3>
            <table border=1>
                <tr>
                    <th>Timestamp</th>
                    <th>Issue Timestamp</th>
                    <th>Issue Description</th>
                    <th>Order Link</th>
                    <th>Action</th>
                </tr>
                {% for order in issue_orders %}
                    {% for issue in order.issues %}
                        {% if not issue.resolved %}
                            <tr>
                                <td class="datetime">{{order.UTC_timestamp}}</td>
                                <td class="datetime">{{issue.UTC_timestamp}}</td>
                                <td>{{issue.description}}</td>
                                <td><a href="{{url_for("bakesale.show_order", orderID=order.orderID, view="admin")}}">{{order.orderID}}</a></td>
                                <td><a href="{{url_for("bakesale.resolve_issue", orderID=order.orderID, issue_index=loop.index0, issue_description=issue.description)}}">Mark Resolved</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            <table>
        <br><br>
        <a href="{{url_for("bakesale.index")}}">Back to home</a>
        <br>
        <a href="{{url_for("auth.logout")}}">Logout</a>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
        <script src="{{url_for("static", filename="render_times.js")}}"></script>
    </body>
</html>