<html>
    <head>
        <title>SCAN Baker View</title>
    </head>
    <body>
        <p id="authname" style="vertical-align: top; float: right"><b>Logged in as:</b> <a href="{{url_for("bakesale.edit_profile")}}">{{session["name"]}}</a></p>
        <h1>SCAN Baker View</h1>
        <table border="1">
            <caption><b>Received Orders</b></caption>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Link</th>
                <th>Fulfillment</th>
            </tr>

            {% for order in pending %}
                <tr>
                    <td>{{order.UTC_timestamp.split()[0]}}</td>
                    <td>{{order.userInfo.name}}</td>
                    <td><a href={{url_for("bakesale.showOrder", orderID=order.orderID, view="baker")}}>Click Me</a></td>
                    <td>
                        <ul>
                            {% for category in order.fulfillment %}
                                {% for item in order.fulfillment[category] %}
                                    <li>
                                        {{names[item]}} ({{names[category]}}):
                                        {{order.fulfillment[category][item].count}} / {{order.quantities[category][item]}}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
        <a href="{{url_for("bakesale.index")}}">Back to home</a>
        <br>
        <a href="{{url_for("auth.logout")}}">Logout</a>
    </body>
</html>