<html>
    <head>
        <title>SCAN Bake Sale</title>
        <link rel="stylesheet" href="{{url_for("static", filename="orderform.css")}}">
    </head>

    <body>
        <!--<script src="{{url_for("static", filename="calculate_price.js")}}"></script>-->
        <h1 class="title">SCAN Bake Sale</h1>
        <form action="/bakesale/submitorder" oninput="updateForm()">
            {% for category in categories %}
                <fieldset class="categoryset">
                    <legend class="categorylabel">{{names[category]}}
                    ({%- for qty in prices[category] -%}
                        ${{"{:,.2f}".format(prices[category][qty])}} for {% if qty in number_names %}{{number_names[qty]}}{% else %}{{qty}}{% endif %}{% if not loop.last %}, {% endif %}
                    {%- endfor -%})
                    </legend>
                    <table class="categorytable">
                        {% for item in categories[category] %}
                            <tr>
                                <td>
                                    <label class="itemlabel" for="{{item}}">{{names[item]}}</label>
                                </td>
                                <td>
                                    <input class="itemqty" type="number" name="{{item}}" min=0 step=1 id="{{item}}" value=0>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </fieldset>
                <br>
            {% endfor %}

            <fieldset class="infoset">
                <legend class="personalinfolabel">Personal Info</legend>

                <label class="infolabel" for="name">Full Name: </label>
                <input class="infotext" type="text" name="name" required>
                <br>

                <label class="infolabel" for="phone">Phone Number: </label>
                <input class="infotext" type="tel" name="phone" required>
                <br>

                <label class="infolabel" for="email">Email Address: </label>
                <input class="infotext" type="mail" name="email" required>
                <br>

                <label class="infolabel" for="address">Address: </label>
                <input class="infotext" type="text" name="address" required>
                <br>
            </fieldset>
            <br>

            <output class="pricedisplay" name="price" id="pricedisplay">Total Price: $0.00</output>
            <br><br>
            <table class="pricebreakdown">
                <tr>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <td>
                            {{names[category]}}
                        </td>
                        <td id="pricebreakdown_{{category}}_quantity">
                            0
                        </td>
                        <td id="pricebreakdown_{{category}}_price">
                            $0.00
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <input class="button" type="submit" value="Submit Order"></submit>
        </form>
        <br><br>
        <a href="{{url_for("bakesale.index")}}">Back to home</a>

        <script>
            function updateForm() {
                var quantities = {
                    {% for category in categories %}
                        "{{category}}":
                        {%- for item in categories[category] -%}
                        Number(document.getElementById("{{item}}").value){% if not loop.last %} + {% endif %}
                        {%- endfor -%}
                        {%- if not loop.last -%},{%- endif -%}
                    {% endfor %}
                };
                var totalPrice = 0.0;
                {% for category in categories %}
                    // Category: {{category}}
                    var thisPrice = 0;
                    var numItems = quantities["{{category}}"];
                    {% for qty in prices[category]|dictsort(reverse=True) %}
                        thisPrice +=  Math.floor(numItems / {{qty[0]}}) * {{prices[category][qty[0]]}};
                        numItems %= {{qty[0]}};
                    {% endfor %}
                    document.getElementById("pricebreakdown_{{category}}_quantity").innerText = quantities["{{category}}"];
                    document.getElementById("pricebreakdown_{{category}}_price").innerText = "$" + thisPrice.toFixed(2);
                    totalPrice += thisPrice;
                {% endfor %}
                document.getElementById("pricedisplay").value = "Total Price: $" + totalPrice.toFixed(2);
            }
        </script>
    </body>
</html>