<html>
    <head>
        <title>SCAN Bake Sale</title>
        <link rel="stylesheet" href="{{url_for("static", filename="orderform.css")}}">
        <link rel="stylesheet" href="{{url_for("static", filename="arrows.css")}}">
    </head>

    <body>
        <!--<script src="{{url_for("static", filename="calculate_price.js")}}"></script>-->
        <h1 class="title">SCAN Bake Sale</h1>
        <form action="/bakesale/submit_order" oninput="updateForm()" method="POST">
            {% for category, category_data in product_data|dictsort(reverse=True) %}
                <fieldset class="categoryset">
                    <legend class="categorylabel collapsible">{{category_data.name}}
                    ({%- for qty, price in category_data.prices|dictsort() -%}
                        ${{"{:,.2f}".format(price)}} for {% if qty in number_names %}{{number_names[qty]}}{% else %}{{qty}}{% endif %}{% if not loop.last %}, {% endif %}
                    {%- endfor -%})
                    </legend>
                    <table class="categorytable">
                        {% for item in category_data.products %}
                            <tr>
                                <td>
                                    <label class="itemlabel" for="{{item}}">{{category_data.products[item].name}}</label>
                                </td>
                                <td>
                                    <input class="itemqty" type="number" name="{{item}}" min=0 step=1 id="{{item}}" value=0>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </fieldset>
                <br>
            {% endfor %}

            <fieldset class="infoset">
                <legend class="personalinfolabel">Personal Info</legend>
                <table>
                    <tr>
                        <td>
                            <label class="infolabel" for="name">Full Name: </label>
                        </td>
                        <td>
                            <input class="infotext" type="text" name="name" placeholder="Enter your name" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="infolabel" for="phone">Phone Number: </label>
                        </td>
                        <td>
                            <input class="infotext" type="tel" name="phone" placeholder="Enter your phone number" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="infolabel" for="email">Email Address: </label>
                        </td>
                        <td>
                            <input class="infotext" type="mail" name="email" placeholder="Enter your email address" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="infolabel" for="address">Address: </label>
                        </td>
                        <td>
                            <input class="infotext" type="text" name="address" placeholder="Enter your address" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="infolabel" for="notes">Notes: </label>
                        </td>
                        <td>
                            <textarea class="infotext" name="notes" rows=4 placeholder="Enter anything you'd like the bakers or deliverers to know"></textarea>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br>

            <br>
            <table class="pricebreakdown">
                <tr>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
                {% for category, category_data in product_data|dictsort(reverse=True) %}
                    <tr>
                        <td>
                            {{category_data.name}}
                        </td>
                        <td id="pricebreakdown_{{category}}_quantity">
                            0
                        </td>
                        <td id="pricebreakdown_{{category}}_price">
                            $0.00
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <output class="pricedisplay" name="price" id="pricedisplay">Total Price: $0.00</output>
            <br><br>
            <input class="button" type="submit" value="Submit Order"></input>
            {% if referral is defined %}
                <input type="hidden" name="referral" value="{{referral}}"></input>
            {% endif %}
        </form>
        <br><br>
        <a href="{{url_for("bakesale.index")}}">Back to home</a>
        <script src="{{url_for("static", filename="render_collapsibles.js")}}"></script>
        <script>
            function updateForm() {
                var quantities = {
                    {% for category in product_data %}
                        "{{category}}":
                        {%- for item in product_data[category].products -%}
                        Number(document.getElementById("{{item}}").value){% if not loop.last %} + {% endif %}
                        {%- endfor -%}
                        {%- if not loop.last -%},{%- endif -%}
                    {% endfor %}
                };
                var totalPrice = 0.0;
                {% for category in product_data %}
                    // Category: {{category}}
                    var thisPrice = 0;
                    var numItems = quantities["{{category}}"];
                    {% for qty in product_data[category].prices|dictsort(reverse=True) %}
                        thisPrice +=  Math.floor(numItems / {{qty[0]}}) * {{product_data[category].prices[qty[0]]}};
                        numItems %= {{qty[0]}};
                    {% endfor %}
                    document.getElementById("pricebreakdown_{{category}}_quantity").innerText = quantities["{{category}}"];
                    document.getElementById("pricebreakdown_{{category}}_price").innerText = "$" + thisPrice.toFixed(2);
                    totalPrice += thisPrice;
                {% endfor %}
                document.getElementById("pricedisplay").value = "Total Price: $" + totalPrice.toFixed(2);
            }
        </script>
    </body>
</html>