<html>
    <head>
        <title>SCAN Bake Sale Order (Baker View)</title>
    </head>

    <body>
        <p id="authname" style="vertical-align: top; float: right"><b>Logged in as:</b> <a href="{{url_for("info.edit_profile")}}">{{session["name"]}}</a></p>
        <h1>{{order.userInfo.name}}'s SCAN Bake Sale Order (Baker View)</h1>
        <h2>Order Info</h2>
        <p><b>Received On:</b> <span class="datetime">{{order.UTC_timestamp}}</span></p>
        <p><b>Status:</b> {{order.statusText}}</p>
        {% if order.delivery is defined %}
            <p><b>Delivery Information:</b></p>
            <ul>
                <li>Delivered by: <a href="{{url_for("info.view_profile", uid=order.delivery.deliveredBy.uid)}}">{{order.delivery.deliveredBy.name}}</a></li>
                <li>Delivered at: <span class="datetime">{{order.delivery.UTC_timestamp}}</span<</li>
            </ul>
            <br>
        {% endif %}
        {% if order.notes is defined %}
            <p><b>Notes:</b> {{order.notes}}</p>
        {% endif %}
        <a href="{{url_for("bakesale.report_issue", orderID=order.orderID, view=request.args.get("view"))}}">Report an issue</a>
        <p><b>Total Price:</b> ${{'%0.2f' % order.price}}</p>
        <p><b>Order ID:</b> {{order.orderID}}</p>

        {% if order.invoice is defined %}
            <p><b>Invoice: </b> <a href="{{order.invoice.link}}">{{order.invoice.link}}</a></p><br>
        {% endif %}

        <h3>Ordered Items:</h3>
        {% for category in order.fulfillment %}
            <h5>{{product_data[category].name}}</h5>
            <ul>
            {% for item in order.fulfillment[category] %}
                <li>{{product_data[category].products[item].name}}:
                 {{order.fulfillment[category][item].count}} / {{order.quantities[category][item]}}
                (<a href={{url_for("bakesale.bake_item", orderID=order.orderID, itemCategory=category,
                itemID=item, qtyMax=(order.quantities[category][item] - order.fulfillment[category][item].count))}}>Bake this</a>)</li>
            {% endfor %}
            </ul>
        {% endfor %}

        <h2>Customer Info</h2>
        <p><b>Name:</b> {{order.userInfo.name}}</p>
        <p><b>Phone Number:</b> <a href="tel:{{order.userInfo.phone}}">{{order.userInfo.phone}}</a></p>
        <p><b>Email Address:</b> {{order.userInfo.email}}</p>
        <p><b>Address:</b> {{order.userInfo.address}}</p>
        <br><br>
        <a href="{{url_for("bakesale.baker_view")}}">Back to baker view</a>
        <br>
        <a href="{{url_for("bakesale.index")}}">Back to home</a>
        <br>
        <a href="{{url_for("auth.logout")}}">Logout</a>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
        <script src="{{url_for("static", filename="render_times.js")}}"></script>
    </body>
</html>