<html>
    <head>
        <title>SCAN {{chapter.name}} Branch Directory</title>
        <link rel="stylesheet" href="{{url_for("static", filename="treant/Treant.css")}}" type="text/css"/>
        <link rel="stylesheet" href="{{url_for("static", filename="directory.css")}}" type="text/css"/>
    </head>
    <body>
        <h1>SCAN {{chapter.name}} Branch Directory</h1>
        <div id="directory_container">
        </div>
        <br>
        <a href="{{url_for("info.display_directory")}}">Back to main directory</a>

        <script src="{{url_for("static", filename="treant/vendor/raphael.js")}}"></script>
        <script src="{{url_for("static", filename="treant/Treant.js")}}"></script>
        <script>
            var directory_chart_config = {
                chart: {
                    container: "#directory_container",
                    connectors: {
                        type: "step"
                    }
                },
                nodeStructure: {
                    text: {
                        name: "{{chapter.name}} Branch"
                    },
                    children: [
                        {% for officer, role in officers %}
                            {
                                text: {
                                    name: "{{officer.display_name}}",
                                    title: "{{officer_titles[role]}}"
                                },
                                link: {
                                    href: "{{url_for("auth.view_profile", uid=officer.uid)}}"
                                }
                            }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ]
                }
            }

            var directory_chart = new Treant(directory_chart_config);
        </script>
    </body>
</html>